@inject IViewLocalizer _localizer


<div>
    <table class="table">
        <tr class="d-flex">
            <td class="table- col-2">

            </td>
            <td class="col-8">
                <table class="table table-bordered">
                    <tr class="d-flex">
                        <th class="col-3">
                            @_localizer["Topics"]
                        </th>
                        <th class="col-9">
                            @_localizer["Options"]
                        </th>
                    </tr>
                    <tr class="d-flex">
                        <td class="col-3">
                            @_localizer["Sections"]
                        </td>
                        <td class="col-9">
                            <a asp-action="CreateSection" class="btn btn-primary">@_localizer["Create"]</a>
                        </td>
                    </tr>
                </table>
            </td>
            <td class="col-2">

            </td>
        </tr>
    </table>
</div>